<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Care</title>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/navbar.css">

</head>
<body>
    <header>
        <div class="navbarTitle">
            <h3><span>h</span>ealth <span>c</span>are</h3>
        </div>
        <nav>
            <ul class="navbarLinks">
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html"  class="active">About Us</a></li>
                <li><a href="service.html">Service</a></li>
                <li><a href="doctors.html">Doctors</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <section class = "history">
        <h1>History of our hospital</h1>
        <span>.....</span>
        <div class="row">
          <p>
            මේවා dummy text වෙනස් කරගන්න.... Consectetur qui quis magna cillum mollit sit eu fugiat fugiat aliqua consectetur eu tempor ex. Culpa nostrud ex proident sunt anim reprehenderit minim esse et commodo id voluptate aliquip. Nostrud sit enim laborum ex. Minim nisi Lorem est enim reprehenderit amet sunt nisi sit Lorem amet.<br><br>

Ullamco tempor ipsum incididunt consectetur velit laborum ea proident ex Lorem nulla exercitation ad. Est eiusmod eu nostrud do velit eu fugiat culpa pariatur anim deserunt esse tempor. Incididunt minim irure enim quis in consequat deserunt laboris culpa proident est. Et cupidatat aute incididunt consectetur adipisicing sunt est consectetur enim officia veniam dolore. Nisi consectetur officia sunt anim culpa excepteur aliquip veniam consequat sunt pariatur deserunt magna. Labore enim sint ad sint id ipsum ipsum consectetur commodo esse veniam. Est aute et non aute dolore sunt.<br><br>

Laborum elit quis officia cupidatat aute ullamco sit ex ad quis. Duis adipisicing tempor duis do eiusmod deserunt ad amet deserunt sunt occaecat voluptate dolor. Velit ex veniam incididunt non laborum nostrud et elit in aliqua proident amet sit. Magna ex irure ad commodo officia esse ipsum incididunt laborum. Qui sunt occaecat excepteur adipisicing elit et adipisicing nostrud qui Lorem exercitation aliqua.<br><br>

Aute proident enim consectetur aliqua. Laboris esse deserunt aliqua tempor exercitation aliquip voluptate labore. Non occaecat dolore nulla magna cillum officia anim nostrud. Enim officia non cupidatat fugiat tempor magna dolore amet Lorem non mollit dolor eiusmod. Mollit et incididunt elit reprehenderit ea veniam aliqua do excepteur laboris. Et adipisicing sit quis aliqua et sunt dolore dolore cillum pariatur sint sint. Fugiat commodo culpa Lorem adipisicing exercitation.<br><br>
          </p>
        </div>
    </section>
    <section class="topManagement">
        <h1>Top Management</h1>
        <span>.....</span>
        <div class="row">
            <table id="topManagementTable">
                <tr>
                    <th >name</th>
                    <th >title</th>
                </tr>
                <!-- මේව වෙන්ස් කරගන්න -->
                <tr>
                     <td>මේව වෙනස් කරගන්න</td> 
                     <td>Oncology</td>  
                </tr>

                <tr>
                 <td>Dr Amila Rathnapala</td>
                 <td>Oncology</td>
                 </tr>

                 <tr>
                     <td>Dr Amila Rathnapala</td>
                     <td>Oncology</td>
                 </tr>
            </table>
        </div>
    </section>
    <footer>
        <h4>2021</h4>
    </footer>
</body>
</html>