<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Care</title>
    <link rel="stylesheet" href="../css/doctors.css">
    <link rel="stylesheet" href="../css/navbar.css">

</head>
<body>
    <header>
        <div class="navbarTitle">
            <h3><span>h</span>ealth <span>c</span>are</h3>
        </div>
        <nav>
            <ul class="navbarLinks">
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="service.html">Service</a></li>
                <li><a href="doctors.html" class="active">Doctors</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <section class="doctors">
        <h1>Our doctors</h1>
        <span>.....</span>
        <div class="row">
           <table id="doctorsTable">
               <tr>
                   <th class="tablehead">name</th>
                   <th class="tablehead">department</th>
                   <th class="tablehead">Available days and time</th>
               </tr>
               <tr>
                    <td>මේව වෙනස් කරගන්න</td>
                    <td>Oncology</td>
                    <td>Moday to Friday, 8.00pm to 10.00pm</td>
               </tr>
               <tr>
                <td>Dr Amila Rathnapala</td>
                <td>Oncology</td>
                <td>Moday to Friday, 8.00pm to 10.00pm</td>
                </tr>
                <tr>
                    <td>Dr Amila Rathnapala</td>
                    <td>Oncology</td>
                    <td>Moday to Friday, 8.00pm to 10.00pm</td>
                </tr>
                <tr>
                    <td>Dr Amila Rathnapala</td>
                    <td>Oncology</td>
                    <td>Moday to Friday, 8.00pm to 10.00pm</td>
                </tr>
                <tr>
                    <td>Dr Amila Rathnapala</td>
                    <td>Oncology</td>
                    <td>Moday to Friday, 8.00pm to 10.00pm</td>
                </tr>
                <tr>
                    <td>Dr Amila Rathnapala</td>
                    <td>Oncology</td>
                    <td>Moday to Friday, 8.00pm to 10.00pm</td>
                </tr>
                <tr>
                    <td>Dr Amila Rathnapala</td>
                    <td>Oncology</td>
                    <td>Moday to Friday, 8.00pm to 10.00pm</td>
                </tr>
                <tr>
                    <td>Dr Amila Rathnapala</td>
                    <td>Oncology</td>
                    <td>Moday to Friday, 8.00pm to 10.00pm</td>
                </tr>
                <tr>
                    <td>Dr Amila Rathnapala</td>
                    <td>Oncology</td>
                    <td>Moday to Friday, 8.00pm to 10.00pm</td>
                </tr>
           
           </table>
            </div>
        </div>
    </section>
    <footer>
        <h4>2021</h4>
    </footer>
</body>
</html>