<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Care</title>
    <link rel="stylesheet" href="../css/service.css">
    <link rel="stylesheet" href="../css/navbar.css">

</head>
<body>
    <header>
        <div class="navbarTitle">
            <h3><span>h</span>ealth <span>c</span>are</h3>
        </div>
        <nav>
            <ul class="navbarLinks">
                <li><a href="../index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="service.html"  class="active">Service</a></li>
                <li><a href="doctors.html">Doctors</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <section class = "service">
        <h1>our services</h1>
        <span>.....</span>
        <div class="row">
          <p>
            Health Care  Hospital is committed to being a compassionate, efficient, dynamic and affordable private healthcare service provider. Our patients receive the best nursing care thanks to our well experienced nursing staff.<br><br>
            Stringent quality standards combined with heartfelt nursing care help ensure that patients receive the best experience. This is one of the many reasons why medical professionals across Sri Lanka place their trust in Health Care Hospital to ensure the patient satisfaction.<br>
            With a reputation of over 10 years Health Care Hospital is well reputed for its mother & baby care. Ensuring you and your new born is in good health is a commitment given by the hospital along with specialized and heartfelt care to make sure you live more and celebrate life.<br>
            What sets us apart,
            Take a look at our facilities and services. You’ll see that we really do offer you a better experience all round.<br><br>
            <span>The hospital’s services include :<span></span><br><br>
            <div class="cols">
            <div class="col1">
                <ul>
                    <li>Critical care wards</li>
                    <li>A high-tech neonatal intensive care unit (NICU) Dialysis unit</li>
                    <li>Three well-equipped operating theatres</li>
                    <li>24-hour fully computerised modern pathology laboratory</li>
                    <li>9-bed intensive care unit (ICU)</li>
                    <li>E-channelling consultation</li>
                    <li>24-hour emergency medical service unit</li>
                    <li>24-hour treatment of casualties</li>
                    <li>24-hour out-patient (OPD) service</li>
                    <li>24-hour pharmacy</li>
                    <li>24-hour electrocardiogram (ECG)/Holter monitoring</li>
                    <li>Stress electrocardiogram (ECG) testing</li>
                    </ul>
            </div>
            <div class="col2">
                <ul>
                <li>Echocardiography with 2D Doppler analysis</li>
                <li>Stress echocardiography</li>
                <li>32 slice computerised tomography (CT) scanner</li>
                <li>Ultrasound scanning</li>
                <li>X-ray with image intensifying and screening facilities</li>
                <li>Periodic medical check-up scheme</li>
                <li>Approved hospital status for medical examination for overseas employment & visa requirements</li>
                <li>Mobile laboratory service</li>
                <li>Mobile laboratory service</li>
                <li>An emergency health care service available to registered customers</li>
                
            </ul>
        </div>
    </div>
            </p>
        </div>
    </section>
    <footer>
        <h4>2021</h4>
    </footer>
</body>
</html>